*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    color: #5e5e5e;
}
.back{
    background: rgb(252,44,120);
    background: linear-gradient(45deg, rgba(252,44,120,1) 30%, rgba(109,64,119,1) 70%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-div{
    height: 500px;
    width: 500px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 50px;
}
.h1 h1{
    font-size: 20px;
    font-weight: 400;
}
.btn-primary{
    background-color: #4373d7;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: -10px;
    font-weight: 300;
}
.content{
    display: grid;
    grid-template-columns: 190px 190px;
    grid-template-rows: 60px 60px 60px 60px;
    grid-gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.p{
    font-size: 13px;
    margin: 0;
    margin-bottom: 6px;
}
.form{
    width: 190px;
    color: #5e5e5e;
}
.div1 {

}
.div2{

}
.div3{

}
.div4 {

}
.div5{

}
.div6{

}
.div7{
    grid-column: -3 / -1;
}
.gender{
    display: flex;
}
.form-check-label{
    font-size: 12px;
    padding-right: 10px;
}

.ghg{
    background-color: #fff;
    color: #5e5e5e;
}